/* Скидання параметрів */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

* {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-size: 12px;
    background-color: #fffffe;
}

/* ==================================================== */

/* TABLET +*/
@media (max-width: 991.98px) {
   .header__container {
       max-width: 750px;
   }
}

/* MOBILE +*/
@media (max-width: 767.98px) {
   .header__container {
       max-width: none;
   }
}

/* MOBILE SMALL +*/
@media (max-width: 479.98px) {
   .header__top {
      margin-top: -50px;
      flex-direction: column;
   }
   .menu__list {
      padding-top: 20px;
   }
   .menu__link {
      font-size: 10px;
      margin-left: -10px;
   }
}

/* ==================================================== */
/* Спільні стилі */
.title {
   color: #c8c3b9;
   font-size: 14px;
   font-family: 'Ubuntu', sans-serif;
}

.subtitle {
   color: #626262;
   font-size: 24px;
   font-family: 'Playfair Display', serif;
}

.text {
   color: #626262;
   font-size: 12px;
   font-family: 'Playfair Display', serif;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.container {
   padding: 0px 15px 0px 15px;
   max-width: 880px;
   margin: 0px auto;
}

/* ==================================================== */
/* Прижав футер до низу */

.main {
   flex: 1 1 auto;
}

/* ==================================================== */
/* HEADER */

.header__container {
   padding: 0px 15px 0px 15px;
   max-width: 1180px;
   margin: 0 auto;
}

.header__top {
   padding: 90px 0px 20px 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
   font-size: 30px;
   font-family: 'Inconsolata', monospace;
}

.header__logo a {
   color: #000;
}

.header__logo a:hover {
   text-decoration: line-through;
}

.menu__list {
   display: flex;
   gap: 20px;
}

.menu__link {
   color: #626262;
   text-transform: uppercase;
}

.menu__link:hover {
   text-decoration: underline;
}

.header__photo img{
   width: 100%;
}

.header__photo img:hover{
   opacity: 0.9;
}

/* ==================================================== */
/* PHOTODIARY */

.photodiary__container {
   padding-top: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.photodiary__subtitle {
   padding-top: 20px;
}

.photodiary__text {
   padding-top: 40px;
   width: 60%;
}

.photodiary__comment {
   padding: 20px 0px 20px 0px;
}

.photodiary__comment a{
   color: #b4ad9e;
}

.photodiary__comment a:hover {
   color: #c8c3b9;
}

@media (max-width: 479.98px) {
   .photodiary__text {
      width: 90%;
   }
}

/* ==================================================== */
/* LIFESTYLE */

.lifestyle {
   margin-top: 40px;
}

.columns__row {
   display: flex;
   flex-wrap: wrap;
   margin: 0px -10px;
}

.lifestyle__column {
   flex: 0 1 50%;
   padding: 0px 10px;
   margin-bottom: 30px;
}

.lifestyle__image {
   flex: 0 1 auto;
}

.lifestyle__image img{
   width: 100%;
}

.lifestyle__image img:hover{
   opacity: 0.9;
}

.lifestyle__title {
   padding-top: 15px;
   text-transform: uppercase;
}

.lifestyle__subtitle {
   padding-top: 20px;
}

.lifestyle__text {
   padding-top: 10px;
}

.padding__column {
   padding-top: 50px;
}

@media (max-width: 479.98px) {
   .lifestyle__column {
      flex: 0 1 100%;
      padding: 0px 10px;
      margin-bottom: 30px;
   }
   .padding__column {
      padding-top: 0px;
   }
}

/* ==================================================== */
/* SIGNUP */

.signup {
   margin-top: 50px;
   background-color: #f0f0f0;;
   /* height: 250px; */
}

.signup__item {
   display: flex;
   flex: 0 0 100%;
   flex-direction: column;
   align-items: center;
   padding-top: 100px;
}

.contacts__form {
   max-width: 440px;
   margin: 50px 0px 50px 0px;
}

.form__group {
   flex: 0 1 200px;
   margin-bottom: 30px;
   padding: 0 20px;
   flex: 1;
   position: relative;
}

.input {
   width: 400px;
   padding: 9px 0;
   outline: 0;
   border: 0;
   color: #000;
   font-size: 20px;
   border-bottom: 2px solid #000;
   background-color: transparent;
}

.input:focus + .label {
   transform: translateY(-15px);
   font-size: 12px;
   
}

.input:not(:placeholder-shown) + .label {
   transform: translateY(-15px);
   font-size: 14px;
}

.label {
   letter-spacing: 0.15em;
   color: #000;
   position: absolute;
   top: 10px;
   left: 20px;
   pointer-events: none;
   transition: all 0.2s ease;
   font-family: 'Ubuntu', sans-serif;
}

.signup__title {
   font-family: 'Playfair Display', serif;
   font-size: 30px;
}

@media (max-width: 479.98px) {
   .signup__title {
      margin-top: -50px;
      font-size: 24px;
   }
   .input {
      width: 150px;
   }
   .input:not(:placeholder-shown) + .label {
      transform: translateY(-15px);
      font-size: 10px;
   }
   .input:focus + .label {
      transform: translateY(-15px);
      font-size: 10px;
   }
}
