/* Скидання параметрів */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

* {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-size: 12px;
}

/* @media (max-width: 1087px) {
   [class*="__container"] {
       max-width: 970px;
   }
} */

/* ==================================================== */

/* TABLET +*/
@media (max-width: 991.98px) {
   .header__container {
       max-width: 750px;
   }
}

/* MOBILE +*/
@media (max-width: 767.98px) {
   .header__container {
       max-width: none;
   }
}

/* MOBILE SMALL +*/
@media (max-width: 479.98px) {
   .header__top {
      margin-top: -50px;
      flex-direction: column;
   }
   .menu__list {
      padding-top: 20px;
   }
   .menu__link {
      font-size: 10px;
      margin-left: -10px;
   }
}

/* ==================================================== */
/* Спільні стилі */
.title {
   color: #c8c3b9;
   font-size: 14px;
   font-family: 'Ubuntu', sans-serif;
}

.subtitle {
   color: #626262;
   font-size: 24px;
   font-family: 'Playfair Display', serif;
}

.text {
   color: #626262;
   font-size: 12px;
   font-family: 'Playfair Display', serif;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.container {
   max-width: 880px;
   margin: 0px auto;
}

/* ==================================================== */
/* Прижав футер до низу */

.main {
   flex: 1 1 auto;
}

/* ==================================================== */
/* HEADER */

.header__container {
   padding: 0px 15px 0px 15px;
   max-width: 1180px;
   margin: 0 auto;
}

.header__top {
   padding: 90px 0px 20px 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
   font-size: 30px;
   font-family: 'Inconsolata', monospace;
}

.header__logo a:hover {
   text-decoration: line-through;
}

.menu__list {
   display: flex;
   gap: 20px;
}

.menu__link {
   color: #626262;
   text-transform: uppercase;
}

.menu__link:hover {
   text-decoration: underline;
}

.header__photo img{
   width: 100%;
}

.header__photo img:hover{
   opacity: 0.9;
}

/* ==================================================== */
/* PHOTODIARY */

.photodiary__container {
   padding-top: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.photodiary__subtitle {
   padding-top: 20px;
}

.photodiary__text {
   padding-top: 40px;
   width: 60%;
}

.photodiary__comment {
   padding: 20px 0px 20px 0px;
}

.photodiary__comment a{
   color: #b4ad9e;
}

.photodiary__comment a:hover {
   color: #c8c3b9;
}

@media (max-width: 479.98px) {
   .photodiary__text {
      width: 90%;
   }
}